@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="main-header">
        <h1>ASP.NET Core MVC Platform for Cross-Tasks</h1>
        <p style="margin-top: 0.5rem;">For additional information, code bits, or just for fun, check out <a href="https://github.com/raccoon-hero/cross-platform-programming" class="link">my GitHub repository</a>.</p>
    </div>

    <section class="task-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Task&nbsp;1</td>
                    <td><a href="/Tasks/Task1" class="link">Open</a></td>
                    <td>Calculate the maximum reward from fulfilling orders within their deadlines from a given list, accounting for the possibility of not completing all orders.</td>
                </tr>
                <tr>
                    <td>Task&nbsp;2</td>
                    <td><a href="/Tasks/Task2" class="link">Open</a></td>
                    <td>Find the minimum technological operations required to assemble a product from blocks with given parameters, ensuring the optimal order of assembly.</td>
                </tr>
                <tr>
                    <td>Task&nbsp;3</td>
                    <td><a href="/Tasks/Task3" class="link">Open</a></td>
                    <td>Transform a matrix by replacing all zero elements with the nearest non-zero element unless equidistant to two or more, and manage input errors.</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>